# Run the below command to copy this file to .env and fill in real values
# cp env.example .env

# Server
ITEMS_PER_PAGE=5

# Supabase DB or Local Postgres DB (host:db, database:kb_db)
DB_HOST=db
DB_PORT=5432
DB_NAME=kb_db
DB_USER=postgres
DB_PASSWORD=postgres
# DB_SSL_MODE=require
# DB_SSL_REJECT_UNAUTHORIZED=false


# Auth
JWT_SECRET=REPLACE_WITH_STRONG_RANDOM
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password